.myNav {
  background-color: #082032 !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold;
}
.myLink {
  color: white !important;
  font-weight: bold;
}
.myBack {
  background-image: url("./images/backround.jpg");
  height: 400px;
  width: 100%;
  object-fit: contain;
}
.myContainer {
  background-color: transparent;
  height: 250px;
  /* margin-bottom: 12px;
  margin-top: 75px;
  margin-left: 20px; */
}
.myImage {
  height: 225px;
  margin-top: 8px;
}

.card__right {
  padding-left: 20px;
  margin-top: 25px;
}
.myBio h3 {
  color: #ff4c29;
  font-weight: bold;
}

.myBio h5 {
  color: aqua;
}

.myBio p {
  color: aquamarine;
}
.myBio h3:hover {
  color: white;
  font-weight: bold;
}

.myBio h5:hover {
  color: white;
}

.myBio p:hover {
  color: white;
}
.myProjects {
  text-align: center;
  color: #ff4c29;
  font-weight: bold;
}
.myHeading {
  background-color: #334756;
  width: 100%;
  height: 35px;
  margin-top: 12px;
}
.copy {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
